doctype html

html(lang='ja')
  head
    meta(charset='utf-8')
    title タイトル
    meta(name='description' content='詳細')

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/phi-jp/meltline@v0.1.10/meltline.css')
    style.
      html, body {
        height: 100%;
      }
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js')
  body
    div.f.fh.h-full
      div.w60per.row
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
        div.col3.p8
          div.rect.bg-lightgray.rounded-4
