doctype html

html(lang='ja')
  head
    meta(charset='utf-8')
    title タイトル
    meta(name='description' content='詳細')

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/phi-jp/meltline@v0.1.10/meltline.css')
    style.
      @import url("https://gitcdn.xyz/repo/octoshrimpy/blokkfont/master/blokkfont.css");
      
      html, body {
        height: 100%;
      }
      body {
        line-height: 18px;
        color: #888;
      }
      .font-blokk {
        font-family: "BLOKK";
      }
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js')
  body
    div.f.flex-column.h-full.font-blokk
      //- header
      header.border-bottom.p16
        h1.fs18 Holy grail | meltline layout 

      //- main
      main.f.flex-auto
        aside.col2.border-right.p16 side contents
        article.col8.border-right.p16
          div.mb16 main contents
          p Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 
        nav.col2.p16 nav contents
      
      //- footer
      footer.border-top.p16
        div ©2020 phi
