doctype html

html(lang='ja')
  head
    meta(charset='utf-8')
    title タイトル
    meta(name='description' content='詳細')

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/phi-jp/meltline@v0.1.10/meltline.css')
    style.
      @import url("https://gitcdn.xyz/repo/octoshrimpy/blokkfont/master/blokkfont.css");
      
      html, body {
        height: 100%;
      }
      .font-blokk {
        font-family: "BLOKK";
      }
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js')
  body
    div.f.fh.h-full.text-gray.lh15.f.fh
      div.w60per.row
        div.col6.p8.s-col12: div.f.fh.h64.bg-lightskyblue.rounded-4: span.text-white.bold col6
        div.col6.p8.s-col12: div.f.fh.h64.bg-lightskyblue.rounded-4: span.text-white.bold col6

        div.col4.p8.s-col12: div.f.fh.h64.bg-gold.rounded-4: span.text-white.bold col4
        div.col4.p8.s-col12: div.f.fh.h64.bg-gold.rounded-4: span.text-white.bold col4
        div.col4.p8.s-col12: div.f.fh.h64.bg-gold.rounded-4: span.text-white.bold col4

        div.col4.p8.s-col12: div.f.fh.h64.bg-gold.rounded-4: span.text-white.bold col4
        div.col8.p8.s-col12: div.f.fh.h64.bg-plum.rounded-4: span.text-white.bold col8

        div.col3.p8.s-col12: div.f.fh.h64.bg-tomato.rounded-4: span.text-white.bold col3
        div.col3.p8.s-col12: div.f.fh.h64.bg-tomato.rounded-4: span.text-white.bold col3
        div.col3.p8.s-col12: div.f.fh.h64.bg-tomato.rounded-4: span.text-white.bold col3
        div.col3.p8.s-col12: div.f.fh.h64.bg-tomato.rounded-4: span.text-white.bold col3

        div.col3.p8.s-col12: div.f.fh.h64.bg-tomato.rounded-4: span.text-white.bold col3
        div.col5.p8.s-col12: div.f.fh.h64.bg-lightseagreen.rounded-4: span.text-white.bold col5
        div.col4.p8.s-col12: div.f.fh.h64.bg-gold.rounded-4: span.text-white.bold col4
