doctype html

html(lang='ja')
  head
    meta(charset='utf-8')
    title タイトル
    meta(name='description' content='詳細')

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/phi-jp/meltline@v0.1.10/meltline.css')
    style.
      @import url("https://gitcdn.xyz/repo/octoshrimpy/blokkfont/master/blokkfont.css");
      
      html, body {
        height: 100%;
      }
      .font-blokk {
        font-family: "BLOKK";
      }
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js')
  body
    div.f.fh.h-full.font-blokk.text-gray.lh15
      div.f.w80per.h50per.border
        div.w-full.border-right.p16.f.fh
          div.f.flex-column.fh
            div.s128.circle.bg-gray.mb16
            p Hello, world!
        div.w-full.p16
          h2 meltline layout
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
